<div class="blockNote">
  <form id="formAddNote">
    <label for='title'>Название</label>
    <input required type='text' name='titleNote' id="titleNote" class='title form-control'>
    <label for='text'>Описание</label>
    <textarea required id="textNote" class="form-control" rows="3"></textarea>
    <div>
      <input type="submit" id="addNote" class="btn btn-info btn-lg" value='Создать заметку'>
      <div class="btn-group pull-right">
        <button type="button" id="buttonColor" class="btn btn-info">Цвет</button>
        <button type="button" id="buttonCategories" class="btn btn-info">Категории</button>
        <button type="button" id="buttonTag" class="btn btn-info">Ярлыки</button>
      </div>
      <div class="clearfix"></div>
      <div class="pull-right">
        <div class="listGroup">
          <div class="color none">
            <input name="color" id="color" type="radio" value="lightgrey">Светло-серый
            <br />
            <input name="color" id="color" type="radio" value="azure">Лазурный
            <br />
            <input name="color" id="color" type="radio" value="peachpuff">Персиковый
            <br />
          </div>
          <div class="listCategories none"></div>
          <div class="listTag none"></div>
          <div class="list none"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </form>
  <div class="blockListNote "></div>
</div>