<div class=" detailsNote row <%= color %>">
  <div class="groupNote">
    <div class="title col-md-12">Название:
      <%= titleNote %>
    </div>
    <div class="text col-md-12">
      <div>Описание:</div>
      <%= textNote %>
    </div>
  </div>
  <div class="blockCategorieTags">
    <div class="categorieGroups"></div>
    <div class="groupTags"></div>
  </div>
  <div class="btn-group updateButton col-md-12">
    <button type="button" id="updateNote" class="btn btn-default">Отредактировать</button>
    <button type="button" id="deleteNote" class="btn btn-danger">Удалить</button>
  </div>
</div>
<a href="/" class="back">Назад</a>