<form id="formUpdateNote">
  <div>
    <div>
      <label for='title'>Название:</label>
      <input type='text' name='titleNote' id='titleNote' class='title form-control' value="<%= titleNote %>">
    </div>
    <div>
      <label for='text'>Описание:</label>
      <textarea type='text' name='textNote' id='textNote' class='text form-control' rows="3"><%= textNote %></textarea>
    </div>
    <div>
      <button type="button" id="changesNote" class="btn btn-info">Изменить</button>
      <div class="btn-group pull-right">
        <button type="button" id="buttonColor" class="btn btn-info">Цвет</button>
        <button type="button" id="buttonCategories" class="btn btn-info">Категории</button>
        <button type="button" id="buttonTag" class="btn btn-info">Ярлыки</button>
      </div>
      <div class="clearfix"></div>
      <div class="pull-right">
        <div class="color none">
          <input name="color" id="color" type="radio" value="lightgrey">Светло-серый
          <br />
          <input name="color" id="color" type="radio" value="azure">Лазурный
          <br />
          <input name="color" id="color" type="radio" value="peachpuff">Персиковый
          <br />
        </div>
        <div class="listCategories none"></div>
        <div class="listTag none"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</form>